body {
    background-color: rgb(227, 227, 235);
}

input {border: 0px;
    border-bottom: solid 1px }
    input:focus { border: solid 1px limegreen;
      outline: none
    }
    
    input:hover { border: solid 1px red}


    .grid {
        display: grid;
        
    }

    #mensagem {
        display: none;
    }
